# Database
DATABASE_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=7d
REDIS_URL=redis://localhost:6379

# Email verification
APP_URL="http://localhost:3000"
EMAIL_VERIFY_BASE_URL="http://localhost:3000"
EMAIL_VERIFY_SUCCESS_URL="http://localhost:5173/email-verified"
EMAIL_VERIFY_FAILED_URL="http://localhost:5173/email-verify-failed"
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Cloudinary
CLOUDINARY_CLOUD_NAME="your-cloud-name"
CLOUDINARY_API_KEY="your-api-key"
CLOUDINARY_API_SECRET="your-api-secret"

# Server
PORT=
NODE_ENV=
